@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #262626 !important;
  scroll-behavior: smooth;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply border-[#efd704] text-[#aaa];
  }
}

footer *,
header * {
  color: white;
}
